<!-- <input type="text" [(ngModel)]="name">
<p> {{ name }}</p> -->

<!-- <input type="text" [(ngModel)]="username">
<p>{{username}}</p>

<button [disable]=""></button> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>    
</div>

<h3>I'm in the AppComponent</h3>
<hr>
<app-server></app-server>
<app-servers></app-servers> -->

<!-- component assignment  -->
<!-- <app-assignment-component></app-assignment-component>
 -->
 <!-- <app-server></app-server> -->
 <!-- <app-servers></app-servers> -->

 <!-- <app-assignement-directives></app-assignement-directives> -->
 <app-success-alert></app-success-alert>